h1 {
color: #d966dd;
background-color: rgb(59, 5, 61);
text-align: center;
text-transform: uppercase;
}
.areaBonita{
border: #8c1691;
border-radius: 10%;
background-color: #3b073d91;
color: bisque;
height: 50px;
width: 450px;
font-size: 20px;
}
label{
scroll-padding-right: 20px;

}