p{
    margin-bottom: 0px;
    color: rgb(101, 131, 158);
}

.bar{
    background-color: rgb(17, 16, 94);
}

.bar p{
    color: white;
    font-size: 20px;
}

.borde{
    border: 1px solid black;
}

.form-control, .form-select{
    border-radius: 0px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}